/* bibliostyles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #ADD8E6;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #663399;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

ol {
    margin: 20px 0;
    padding-left: 40px;
}

ul.reference-list {
    list-style-type: none;
    padding: 0;
}

ul.reference-list li {
    margin-bottom: 10px;
}

ul.reference-list li strong {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background: #333;
    color: #fff;
}
