h1 {
    text-align: center;
    color: #495057;
}

ul {
    list-style-type: none;
}

li {
    margin: 0.75rem 0;
}

button {
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

.general-information {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
}

.general-information:hover {
    border-radius: 0.625rem;
    background-color: #dae8e8;
}

.hidden-information {
    padding-top: 0.25rem;
    padding-left: 1rem;
    text-align: left;
}

.span-hanzi {
    padding: 0 0.75rem;
    font-size: larger;
}

.span-translation {
    font-size: smaller;
}