/* Reset styles */
/* body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

/* Navigation bar styling */
nav {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Text styling */
	p           { 
    font: 12px/1em; 
    font-family: sans-serif; 
    color: #000000; 
    background: transparent; 
    margin: 1em 1.5em 1em 1.5em; 
    }
    p1           { 
    font: 12px/1em; 
    font-family: sans-serif; 
    color: #5992fc; 
    background: transparent; 
    margin: 1em 1.5em 1em 1.5em; 
    }
    h1          { 
    font: 14px/1.5em;
    font-family: sans-serif; 
    background: transparent; 
    margin: 1em 1.5em 1em 1.5em; 
    }
    h2          { 
    font: 12px/1.5em; 
    font-family: sans-serif; 
    background: transparent; 
    margin: 1em 1.5em 1em 1.5em; 
    }
    mark	 { 
    font: 12px/1em; 
    font-family: sans-serif; 
    backgroundcolor: #fcefe3; 
    }