<template>
    <nav id="navbar">
        <ul>
            <!-- The warning that the href link cannot find the directory is
            because the file is loaded in another directory where
            this is possible. The warning can be ignored. -->
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="project.html">The project</a></li>
            <li><a href="memorialtext.html">The memorial text</a></li>
            <li><a href="glossary.html">Glossary</a></li>
            <li><a href="othertexts.html">Other texts</a></li>
            <li><a href="references.html">References</a></li>
        </ul>
    </nav>
</template>